NEXT_PUBLIC_API_URL=http://localhost:8787
APP_ORIGIN=http://localhost:3000
RP_ID=localhost
RP_NAME=Telegram Cloud Drive
BOOTSTRAP_TOKEN=temporary-local-bootstrap-token
APP_SESSION_SECRET=temporary-local-session-secret
TELEGRAM_BOT_TOKENS=rahasia
TELEGRAM_SHARED_CHANNEL=@drivebygi
GOOGLE_CLIENT_ID=google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:8787/v1/auth/google/callback
